<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="openaccess" type="Telerik.OpenAccess.Config.ConfigSectionHandler, Telerik.OpenAccess.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="NorthwindConnection" connectionString="data source=(local)\SQLEXPRESS;initial catalog=Northwind;integrated security=True"
      providerName="System.Data.SqlClient" />
    <add name="TR.Reports.Properties.Settings.Northwind" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TR.Reports.Properties.Settings.AdventureWorks" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <openaccess xmlns="http://www.telerik.com/OpenAccess">
    <references>
      <reference assemblyname="TR.Data" configrequired="True"/>
    </references>
    <connections>
      <connection id="NorthwindConnection">
        <connectionString>Data Source=(local)\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True</connectionString>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
      </connection>
    </connections>
    <backendconfigurations>
      <backendconfiguration id="mssqlConfiguration" backend="mssql">
        <mappingname>mssqlMapping</mappingname>
      </backendconfiguration>
    </backendconfigurations>
    <mappings current="mssqlMapping">
      <mapping id="mssqlMapping"/>
    </mappings>
  </openaccess>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
